
<div id="aboutMe">
  <div class="aboutMe">
    <h1>Me?</h1>
    <p> Assalamualaikum.. Hi, I'm Syahmi, a self-taught <span>front-end developer</span> and <span>web designer</span> based in Malaysia. I'm a student of <span>CFS IIUM</span>. I love <span>&lt;code&gt;</span> so much and the output of how it looks and it's function.</p>
    <p>I met <span>HTML</span>, <span>CSS</span> and <span>JavaScript</span> when I was 16 years old and I fall in love with them. Back then, I developed websites but I never think to publish it. But now I realise, it is <span>important</span>.</p>
    <p>When I worked for my <span><a href="#">first personal website</a></span>, from the beginning(<span>design phase</span>) until I publish it, even until now, there are so many things I <span>learned</span>. Tough sometimes, but it's <span>Fun!!</span> :)</p>
  </div>
</div>