
<div id="blog">
  <div class="blog-wrapper">
    <h1>Blog</h1>
    <div class="first"> <i class="fa fa-hand-o-right"> </i> These are some posts I wrote with  <i class="fa fa-heartbeat"></i></div>
    <div class="second">Let’s read it together..</div>
    <div class="posts-wrapper">
      <ul>{% for post in site.posts %} {% if post.image %}
        <li style="background-image: url('/assets/img/blogpost/{{ post.image }}');"><a href="{{ post.url }}"><span>{{ post.date | date_to_string }} <br/>&raquo; {{ post.title }}</span></a></li>{% else %}
        <li><a href="{{ post.url }}"><span>{{ post.date | date_to_string }} <br/>&raquo; {{ post.title }}</span></a></li>{% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</div>