
<div id="header">
  <div class="header-wrapper-top">
    <div class="blur-nav-bg"></div>
    <ul>
      <li><a href="#aboutMe" class="active">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li class="sf-logo"></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contactMe">Contact Me</a></li>
    </ul>
  </div>
  <div class="nav-wrapper-left">
    <ul>
      <li><a href="#aboutMe" class="active"></a></li>
      <li><a href="#portfolio"></a></li>
      <li><a href="#blog"></a></li>
      <li><a href="#contactMe"></a></li>
    </ul>
  </div>
  <div class="header-wrapper-mobile">
    <ul>
      <li class="sf-logo"></li>
      <li><a href="#aboutMe" class="active">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contactMe">Contact Me</a></li>
    </ul>
  </div>
  <div id="offCanvasToggler"> <span></span></div>
  <div id="wideToggler"></div>
</div>