
<div id="portfolio">
  <div class="rhs">
    <div class="portfolio"><img src="/assets/img/rhs.jpg"/>
      <div class="content sticky">
        <div class="wrapper">
          <h1>PORTFOLIO</h1>
          <h3>
             
            These are what I did..<br/>Let's see my work..
          </h3>
        </div>
      </div>
    </div>
    <div class="sf-v1"><img src="/assets/img/sf-website-v1.0.jpg"/>
      <div class="content">
        <div class="wrapper">
          <p>
             
            My First Personal Website<br/>I call it SyahmiFauzi.com v1.0<br/>This current website is v2.0 ;)
          </p>
          <div class="stw"><a href="http://www.syahmifauzi.com/" target="_blank">See The Work</a></div>
        </div>
      </div>
    </div>
    <div class="a4t"><img src="/assets/img/a4t-website.jpg"/>
      <div class="content">
        <div class="wrapper">
          <p>
             
            Arabic For Tourism<br/>My Ustaz's Project.. ;)<br/>Long story....
          </p>
          <div class="stw"><a href="http://arabicfortourism.com/" target="_blank">See The Work</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="lhs">
    <div class="entrec"><img src="/assets/img/entrec.jpg"/>
      <div class="content">
        <div class="wrapper">
          <p>
             
            CFSIIUM Entrepreneur Club<br/>Nice and Simple.. I love it..
          </p>
          <div class="stw"><a href="http://www.syahmifauzi.com/entrec/" target="_blank">See The Work</a></div>
        </div>
      </div>
    </div>
    <div class="ictedu"><img src="/assets/img/ictedu-website.jpg"/>
      <div class="content">
        <div class="wrapper">
          <p>
             
            ICT Project for ICT0512 Second Assignment in CFSIIUM..<br/>Made by these four cute guys, me, Arif, Iqbal and Solihin..
          </p>
          <div class="stw"><a href="http://ictedu.github.io/" target="_blank">See The Work</a></div>
        </div>
      </div>
    </div>
    <div class="arabic"><img src="/assets/img/arabic-project.jpg"/>
      <div class="content">
        <div class="wrapper">
          <p>
             
            Once Upon a Time..
            My Arabic Project..
            Tbc in shaa Allah..
          </p>
          <div class="stw"><a href="http://www.syahmifauzi.com/projects/" target="_blank">See The Work</a></div>
        </div>
      </div>
    </div>
    <div class="more-coming"><img src="/assets/img/lhs.jpg"/>
      <div class="content sticky">
        <h2>More Are Coming...</h2>
      </div>
    </div>
  </div>
  <div class="clear-both"></div>
</div>