#aboutMe
  .aboutMe
    h1 Me?
    p 
      | Assalamualaikum.. Hi, I'm Syahmi, a self-taught #[span front-end developer] 
      | and #[span web designer] based in Malaysia. I'm a student of #[span CFS IIUM]. 
      | I love #[span &lt;code&gt;] so much and the output of how it looks and it's function.
    p
      | I met #[span HTML], #[span CSS] and #[span JavaScript] when I was 16 years old 
      | and I fall in love with them. Back then, I developed websites but I never think to publish it. 
      | But now I realise, it is #[span important].
    p
      | When I worked for my #[span: a(href="#") first personal website], from the 
      | beginning(#[span design phase]) until I publish it, even until now, there 
      | are so many things I #[span learned]. Tough sometimes, but it's #[span Fun!!] :)
