#blog
  .blog-wrapper
    h1 Blog
    .first 
      i.fa.fa-hand-o-right 
      |  These are some posts I wrote with  
      i.fa.fa-heartbeat
    .second Let’s read it together..
    
    .posts-wrapper
      ul {% for post in site.posts %} {% if post.image %}
        li(style="background-image: url('/assets/img/blogpost/{{ post.image }}');"): a(href="{{ post.url }}")
          span
            | {{ post.date | date_to_string }} 
            br
            | &raquo; {{ post.title }}
        | {% else %}
        li: a(href="{{ post.url }}")
          span
            | {{ post.date | date_to_string }} 
            br
            | &raquo; {{ post.title }}
        | {% endif %} {% endfor %}
