#contactMe
  h1 Contact Me
  .first 
    i.fa.fa-hand-o-right
    |  Keep in touch with me..
  .second Through email, twitter, github, etc²..

  .contact-form
    form(method="POST")#contactForm
      input(type="hidden" name="_format" value="plain")
      input(type="hidden" name="_subject" value="Syahmi's Website")
      input(type="text" name="name" placeholder="Full Name*" required).name
      input(type="text" name="phone" placeholder="Phone").phone
      input(type="email" name="_replyto" placeholder="E-mail*" required).email
      input(type="text" name="_gotcha" style="display:none;")
      input(type="hidden" name="_next" value="{% if site.url %}{{ site.url }}{% else %}{{ site.local }}{% endif %}/#submitted")
      textarea(name="message" form="contactForm" placeholder="Your Message..*" required).message
      input(type="submit" value="Send").submit
    script.
      var contactForm = document.getElementById('contactForm');
      contactForm.setAttribute('action', '//formspree.io/' + 'brosyahmifauzi' + '@' + 'gmail' + '.' + 'com');
    #submitted
      h2 Your Message Has Been Submitted.. Thank You For Contacting Me.. :)
        a(href="{% if site.url %}{{ site.url }}{% else %}{{ site.local }}{% endif %}").fa.fa-close.close
    
  .social-medias
    //- i.fa.fa-whatsapp
    a(href="https://www.instagram.com/_syahmifauzi" target="_blank").fa.fa-instagram: span  Instagtam
    a(href="https://www.facebook.com/syahmifauzi97" target="_blank").fa.fa-facebook-square: span  Facebook
    a(href="https://twitter.com/_syahmifauzi" target="_blank").fa.fa-twitter-square: span  Twitter
    a(href="https://github.com/syahmifauzi" target="_blank").fa.fa-github-square: span  GitHub
