#footer
  .link This is #[span www.SyahmiFauzi.com] v2.0
  hr
  .dev Designed &amp; Developed With #[i.fa.fa-heart] By #[span Me]
  hr
  .copy Copyright &copy; 2015-2016 - SyahmiFauzi.Com - All Right Researved
  br
