#header
  .header-wrapper-top
    .blur-nav-bg
    ul
      li: a(href="#aboutMe").active About Me
      li: a(href="#portfolio") Portfolio
      li.sf-logo
      li: a(href="#blog") Blog
      li: a(href="#contactMe") Contact Me
    
  .nav-wrapper-left
    ul
      li: a(href="#aboutMe").active
      li: a(href="#portfolio")
      li: a(href="#blog")
      li: a(href="#contactMe")
    
  .header-wrapper-mobile
    ul
      li.sf-logo
      li: a(href="#aboutMe").active About Me
      li: a(href="#portfolio") Portfolio
      li: a(href="#blog") Blog
      li: a(href="#contactMe") Contact Me
    
  #offCanvasToggler 
    span
  
  #wideToggler
