#portfolio
  .rhs
    .portfolio
      img(src="/assets/img/rhs.jpg")
      .content.sticky
        .wrapper
          h1 PORTFOLIO
          h3 
            | These are what I did..
            br
            | Let's see my work..
    .sf-v1
      img(src="/assets/img/sf-website-v1.0.jpg")
      .content
        .wrapper
          p 
            | My First Personal Website
            br
            | I call it SyahmiFauzi.com v1.0
            br
            | This current website is v2.0 ;)
          .stw
            a(href="http://www.syahmifauzi.com/", target="_blank") See The Work
    .a4t
      img(src="/assets/img/a4t-website.jpg")
      .content
        .wrapper
          p 
            | Arabic For Tourism
            br
            | My Ustaz's Project.. ;)
            br
            | Long story....
          .stw
            a(href="http://arabicfortourism.com/", target="_blank") See The Work
        
  .lhs
    .entrec
      img(src="/assets/img/entrec.jpg")
      .content
        .wrapper
          p 
            | CFSIIUM Entrepreneur Club
            br
            | Nice and Simple.. I love it..
          .stw
            a(href="http://www.syahmifauzi.com/entrec/", target="_blank") See The Work
    .ictedu
      img(src="/assets/img/ictedu-website.jpg")
      .content
        .wrapper
          p 
            | ICT Project for ICT0512 Second Assignment in CFSIIUM..
            br
            | Made by these four cute guys, me, Arif, Iqbal and Solihin..
          .stw
            a(href="http://ictedu.github.io/", target="_blank") See The Work
    .arabic
      img(src="/assets/img/arabic-project.jpg")
      .content
        .wrapper
          p 
            | Once Upon a Time..
            | My Arabic Project..
            | Tbc in shaa Allah..
          .stw
            a(href="http://www.syahmifauzi.com/projects/", target="_blank") See The Work
    .more-coming
      img(src="/assets/img/lhs.jpg")
      .content.sticky
        h2 More Are Coming...
        
  .clear-both
