.sf-post-wrapper {
  background-color: #eee;
  background: {
    image: url('/assets/img/blog-bg.jpg');
    repeat: repeat;
    position: center center;
    size: contain;
  }
  background-color: #777;
  background-blend-mode: screen;
  min-height: 100%;
  min-height: 100vh;
  .bg-top-wrapper {
    width: 100%;
    height: 50%;
    height: 50vh;
    min-height: 200px;
    background-color: #2ecc71;
    // &:nth-child(3n+1) {background-color: #2ecc71} // no function #TOFIX
    // &:nth-child(3n+2) {background-color: #3498db}
    // &:nth-child(3n+3) {background-color: #9b59b6}
    background: {
      // image: url(insert using liquid in html file);
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
  }
  .inner-wrapper {
    // background-color: pink;
    max-width: 900px;
    margin: 0 auto;
    margin-top: -160px;
    padding: 0 20px;
    padding-bottom: 75px;
  }
  .header-wrapper, .content-wrapper, .post-nav-wrapper li, .disqus-wrapper {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #fff; // fallback
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #555;
  }
  .header-wrapper {
    margin-top: 0;
    text-align: center;
    h1, p {margin: 10px 0;}
  }
  .content-wrapper {
    text-align: justify;
  }
  .post-nav-wrapper {
    text-align: center;
    li {
      list-style: none;
      padding: 0;
      display: inline-block;
      text-align: left;
      margin-right: 15px;
      &:last-child {margin-right: 0;}
    }
    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      color: #3498db;
      transition: all 125ms ease-in-out;
      &:hover {
        color: #fff;
        background-color: #3498db;
      }
    }
  }
  .disqus-wrapper {
    margin-top: 30px;
    padding-bottom: 15px;
  }
}


// Set Markdown Content Styles Here..
.sf-post-wrapper {
  .content-wrapper {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
