#blog {
  font-size: 1.2em;
  background: {
    image: url('/assets/img/blog-bg.jpg');
    position: center center;
    size: cover;
    repeat: no-repeat;
  }
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 450px;
  // line-height: 1.5;
  h1 {
    margin: 0;
    padding-top: 80px;
    margin-left: $content-margin-left + 30px;
    @media all and (max-width: $small-breakpoint-width) {
      padding-top: 40px;
      margin-left: $content-margin-left;
    }
  }
  .first, .second {
    margin-left: $content-margin-left + 80px;
    @media all and (max-width: $small-breakpoint-width)
      {margin-left: $content-margin-left + 50px;}
    &.first::before {
      content: "";
      margin-left: -30px;
    }
  }
  // .second {margin-bottom: 30px;}
  .fa-heartbeat {
    color: #ff1944;
    font-size: 1.3em;
  }

  .blog-wrapper {
    height: 100%;
    height: 100vh;
  }
}


#blog {
  .blog-wrapper {
    position: relative;
    min-height: 450px;
    .posts-wrapper {
      ul {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        position: absolute;
        left: 0; right: 0; top: 50%; bottom: 15%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background-color: #fff;
        li {
          // text-align: center;
          margin-right: -5px;
          position: relative;
          display: inline-block;
          height: 100%;
          // padding: 10px; // xleh
          // width: 200px;
          min-width: 33.33%;
          list-style: none;
          background-color: #2ecc71;
          &:nth-child(3n+1) {background-color: #2ecc71}
          &:nth-child(3n+2) {background-color: #3498db}
          &:nth-child(3n+3) {background-color: #9b59b6}
          background: {
            // image: url(insert using liquid in html file);
            position: center center;
            repeat: no-repeat;
            size: cover;
          }
          a {
            display: block;
            height: 100%; width: 100%;
            color: #fff;
            text-decoration: none;
            transition: all 225ms ease-in-out;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
            &:hover {background-color: rgba(0,0,0,0.5);}
            span {
              display: block;
              margin: 30px 30px;
              height: auto;
              padding: 10px;
              word-wrap: break-all;
            }
          }
        }
      }
    }
  }
}
