// LAYOUTS
$offCanvasWidth: 60%;

#header {
  .header-wrapper-top {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 5px 0;
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      // START - flex-box for supported browsers..
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      // END - flex-box for supported browsers..
      &:before, &:after {
        content: "---";
        opacity: 0;
      }
    }
  }
  .nav-wrapper-left {
    // display: none;
    position: fixed;
    left: 0; top: 40%; bottom: 0;
  }
  .header-wrapper-mobile {
    display: none;
  }
}


@media all and (max-width: $small-breakpoint-width) {
  #header {
    .header-wrapper-top {display: none;}
    .header-wrapper-mobile {
      display: block;
      position: fixed;
      overflow-x: hidden;
      overflow-y: scroll;
      top: 0; right: 0; bottom: 0;
      width: $offCanvasWidth;
      ul {
        margin: 0;
        padding: 0;
      }
    }
  }

  // off canvas on-off
  #header .header-wrapper-mobile {
    transition: all 325ms ease-in-out;
    margin-right: -$offCanvasWidth;
    &.active {
      margin-right: 0%; // #serentak-on-off
    }
  }
  #sf-content {
    transition: all 325ms ease-in-out;
    margin: 0;
    &.active {
      margin-right: $offCanvasWidth; // #serentak-on-off
      margin-left: -$offCanvasWidth; // #serentak-on-off
      opacity: 0.8; // #serentak-on-off
      user-select: none; // #serentak-on-off
    }
  }
}


// MODULES
$sf-logo-dimension: 2.5em;
$nav-font-color: #555;
$active-nav-font-color: #000;

#header {
  font-size: 1em;
  .header-wrapper-top {
    z-index: 2;
    text-align: center;
    background-color: rgb(255, 255, 255); // fallback
    background-color: rgba(255, 255, 255, 0.85);
    ul {
      li {
        display: inline-block;
        list-style-type: none;
        height: 15px;
        vertical-align: middle;
        // &:last-child, &:nth-child(4) {height: 5px;} // interactive nav hover
        margin-right: 15px;
        &:last-child {margin-right: 0;}
        a {
          color: $nav-font-color;
          text-decoration: none;
          &:hover {color: $active-nav-font-color;}
          // &.active {
          //   color: $active-nav-font-color;
          //   border-bottom: 2px dotted $active-nav-font-color;
          //   padding-bottom: 5px;
          // }
        }
      }
      li.sf-logo {
        // background-color: red;
        height: $sf-logo-dimension;
        width: $sf-logo-dimension;
        background: {
          image: url('/assets/img/sf-logo.svg');
          size: contain;
          repeat: no-repeat;
          position: center center;
        }
      }
    }
  }
  .nav-wrapper-left {
    z-index: 2;
    ul {
      li {
        user-select: none;
        list-style-type: none;
        margin-top: 5px;
        margin-left: -20px; // #
        a {
          color: transparent; // #
          text-decoration: none;
          display: block;
          content: "";
          width: 13px;
          height: 13px;
          border-radius: 50%;
          display: inline-block;
          background-color: #fff;
          border: 2px solid #333;
          transition: all 225ms ease-in-out;
          &:hover {border-color: #fd565d;}
          &.active {
            background-color: #fd565d;
            border-color: #fd565d;
          }
        }
      }
    }
  }
}


#offCanvasToggler {
  display: none;
  position: fixed;
  top: 0; right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  z-index: 5;
  transition: all 325ms ease-in-out;
  &.is-open {right: 45%;}
  // background-color: lighten(tomato, 10%);
  border-radius: 35%;
  span,
  span::before,
  span::after {
    content: "";
    width: 90%;
    height: 2px;
    margin: 0 auto;
    display: block;
    top: 19px;
    position: relative;
    background-color: #333;
    box-shadow: 0 0px 10px 1px #fff;
    transition: all 325ms ease-in-out;
  }
  &:hover span,
  &:hover span::before,
  &:hover span::after {
    box-shadow: 0 3px 10px 1px #fff;
  }
  span::before {top: -14px; width: 80%;}
  span::after {top: 12px; width: 80%;}
  &.is-open span {background-color: transparent;}
  &.is-open span::before,
  &.is-open span::after {
    box-shadow: 0 0 0 0 #000;
    transform-origin: center;
    transform: rotate(405deg);
    top: 0;
  }
  &.is-open span::after {
    transform: rotate(-405deg);
    top: -1px;
  }
}


@media all and (max-width: $small-breakpoint-width) {
  #header {
    .header-wrapper-mobile {
      z-index: 4;
      background-color: rgb(255, 255, 255); // fallback
      background-color: rgba(255, 255, 255, 0.85);
      transition: all 225ms ease-in-out;
      &.active {
        box-shadow: 1px 1px 15px 1px #333;
      }
      ul {
        li {
          list-style-type: none;
          text-align: center;
          margin: 30px auto;
          // &:last-child {margin-bottom: 0;}
          a {
            text-decoration: none;
            color: $nav-font-color;
            &:hover {color: $active-nav-font-color;}
            // &.active {
            //   color: $active-nav-font-color;
            //   border-bottom: 2px dotted $active-nav-font-color;
            //   padding-bottom: 5px;
            // }
          }
        }
        li.sf-logo {
          margin: 40px auto;
          height: 50px;
          width: 50px;
          background: {
            image: url('/assets/img/sf-logo.svg');
            size: contain;
            repeat: no-repeat;
            position: center center;
          }
        }
      }
    }
  }

  #offCanvasToggler {display: block;}

  #wideToggler {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.4;
    z-index: 3;
    cursor: pointer;
    transition: all 325ms ease-in-out;
    &.active {
      display: block;
    }
  }
}
